<% if blogs.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<div id="blogs">
  <% blogs.each do |blog| %>
  <%= div_for(blog) do %>
  <div class="box">
    <% if (image = blog.head_image()) && image.present? %>
    <div class="image">
      <img src="<%= download_named_attachment_url(image, image.filename) %>">
    </div>
    <% end %>
    <div class="content">
      <h3><%= link_to blog.title, :controller => 'blogs', :action => 'show', :id => blog %></h3>
      <div class="wiki">
	<%= blog.short_description %>
      </div>
      <p class="author"><%= authoring blog.created_on, blog.author %></p>
    </div>
  </a>
  <% end %>
<% end %>
</div>
<% end %>
