<% if @blog.editable_by?(User.current) %>
<div class="contextual">
<%= link_to l(:button_edit), "#",
            :class => 'icon icon-edit',
            :accesskey => accesskey(:edit),
            :onclick => '$("#edit-blog").show(); return false;' %>
<%= link_to l(:button_delete),
            { :controller => 'blogs',
              :action => 'destroy',
              :id => @blog },
            :confirm => l(:text_are_you_sure),
            :method => :delete,
            :class => 'icon icon-del' %>
</div>

<div id="edit-blog" style="display:none;">
<%= labelled_form_for :blog, @blog,
                      :url => { :controller => 'blogs',
                                :action => 'edit',
                                :id => @blog },
                      :html => { :id => 'blog-form', 
                                 :class => nil,
                                 :multipart => true } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<%= preview_link({ :controller => 'blogs', :action => 'preview', :id => @blog }, 'blog-form') %>
| <%= link_to l(:button_cancel), "#", :onclick => '$("#edit-blog").hide();' %>
<% end %>
<div id="preview" class="wiki"></div></div>
<% else %>
<div class="contextual"></div>
<% end %>

<h2><%= @blog.title %></h2>

<div class="wiki" style="clear:both;">
<%= textilizable(@blog, :full_description) %>
</div>
<p class="author">Posted on <%= authoring @blog.created_on, @blog.author %></p>

<%= link_to_attachments @blog %>

<hr />

<div id="paginate" style="display:none;">
<% unless @prev.nil? %>
<fieldset class="box article">
  <legend>新しい記事 (<%= authoring @prev.created_on, @prev.author %>)</legend>
  <h3><%= link_to @prev.title, :controller => 'blogs', :action => 'show', :id => @prev %></h3>
  <div class="wiki">
    <%= textilizable(@prev, :short_description) %>
  </div>
</fieldset>
<% else %>
<fieldset class="box article no-article"></fieldset>
<% end %>
<% unless @next.nil? %>
<fieldset class="box article">
  <legend>過去の記事 (<%= authoring @next.created_on, @next.author %>)</legend>
  <h3><%= link_to @next.title, :controller => 'blogs', :action => 'show', :id => @next %></h3>
  <div class="wiki">
    <%= textilizable(@next, :short_description) %>
  </div>
</fieldset>
<% else %>
<fieldset class="box article no-article"></fieldset>
<% end %>
</div>

<% html_title @blog.title -%>
